@page "/boerenbridge/{SelectedGame}/{SelectedPlayer}"
@inherits BoerenBridgeBase
@using CardGames.Components 

<link href="css/desktop.css" rel="stylesheet" />
<style>
    fieldset.scheduler-border-playercards {
        border: 0px groove #ddd !important;
        background-color: #022800;
        padding: 0 0 0 0 !important;
        margin: 0 auto;
        -webkit-box-shadow: 0px 10px 0px 10px #000;
        box-shadow: 0px 0px 0px 0px #000;
        border-radius: 5px;
        width: @(_cardsWidth.ToString())px;
    }
</style>


<AuthorizeView>
    <Authorized>
        @if (_game == null)
        {
            <p>@L["GameStartingUp", @SelectedGame]</p>
        }
        else
        {
            @if (SelectedPlayer.ToLower() == "view")
            {
                <header>
                    <CardGames.Components.TrumpCardSideView game="@_game" sideView="@_sideView" />
                </header>
                <hr />
                <section>
                    <PlayedCards game="@_game" selectedPlayer="@SelectedPlayer" OnWinner="@Winner" ShowPlayedCards="@_showPlayedCards" viewSize="50"/>
                </section>
            }
            else
            {
                <header>
                    <TrumpCardSideView game="@_game" sideView="@_sideView" />
                    <h5 class="active">@_game.Status</h5>

                    <button class="btn btn-success" @onclick="() => OpenScoreBoard()">Score</button>
                    <button class="btn btn-success" @onclick="() => OpenTopScoreBoard()">Tops</button>
                    <button class="btn btn-success" @onclick="() => OpenLowScoreBoard()">Lows</button>
                    <button class="btn btn-success" @onclick="() => OpenCompetitionBoard()">Competition</button>
                    <button class="btn btn-success" @onclick="() => OpenGameResults()">Results</button>
                    <button class="btn btn-success" @onclick="() => OpenGamePlayedCards()" disabled="@(!_game.GameOver)">History</button>
                    <button class="btn btn-success" @onclick="() => OpenLastPlayedCards()">Last</button>
                    <button class="btn btn-success" @onclick="() => OpenTrump()">@(GetColourChar(_game.PlayingCard.Colour.ToString()))</button>
                    <button class="btn btn-success" @onclick="@(e => Shuffle())" disabled="@(CannotShuffle())">@L["Shuffle"] (@NumberOfCards())</button>
                    <button class="btn btn-success" @onclick="@ToggleSideView"><img class="playingColor" src="/CardImages/@(_game.PlayingCard.Face.ToString() + ".png")" width="10" /></button>
                    <button class="btn btn-success" @onclick="@CleanTable"
                            style="display:@(IsGameController(SelectedPlayer) ? "inline" : "none")"
                            disabled="@(!_game.CleanTable || !IsGameController(SelectedPlayer))"
                            title="@L["CleanTableText"]">
                        @L["CleanTable"]
                    </button>
                    <button style="display: @(IsGameController(SelectedPlayer) ? "inline" : "none")"
                            disabled="@(!_game.RoundReady || _game.GameOver || !IsGameController(SelectedPlayer))"
                            class="btn btn-success" @onclick="@NextRound"
                            title="@L["NextRoundText"]">
                        @L["NextRound"]
                    </button>
                    @if (IsGameController(SelectedPlayer) && !_game.GameStarted)
                    {
                        <button style="visibility:@(_game.GameStarted ? "hidden" : "visible")" disabled="@(!_game.AllPlayersSignedIn)" class="btn btn-success" @onclick="@StartGame">Start</button>
                    }
                </header>

                <hr />
                <section>
                    <PlayedCards Game="@_game" SelectedPlayer="@SelectedPlayer" OnWinner="@Winner" ShowPlayedCards="@_showPlayedCards"/>
                    <hr />
                    <SetBets game="@_game" selectedPlayer="@SelectedPlayer" OnPlaceBet="PlaceBet" />
                    <PlayerCards game="@_game" selectedPlayer="@SelectedPlayer" cards="_cards" OnPlayCard="@Play" viewSize="100" />
                </section>

                <ScoreBoard game="@_game" selectedPlayer="@SelectedPlayer" modalClass="@_modalClass" modalDisplay="@_modalDisplay" OnCloseCallback="@CloseScoreBoard" />
                <Trump game="@_game" selectedPlayer="@SelectedPlayer" modalClass="@_modalClassTrump" modalDisplay="@_modalDisplayTrump" OnCloseCallback="@CloseTrump" />
                <TopScores topScores="@_topScores" modalClass="@_modalClassTopscores" modalDisplay="@_modalDisplayTopscores" OnCloseCallback="@CloseTopScoreBoard" />
                <TopScores topScores="@_lowScores" modalClass="@_modalClassLowscores" modalDisplay="@_modalDisplayLowscores" OnCloseCallback="@CloseLowScoreBoard" />
                <GameResults topScores="@_gameResults" modalClass="@_modalClassGameResults" modalDisplay="@_modalDisplayGameResults" gameId="@SelectedGame" OnCloseCallback="@CloseGameResults" />
                <LastPlayedCards game="@_game" modalClass="@_modalClassLastCards" modalDisplay="@_modalDisplayLastCards" OnCloseCallback="@CloseLastPlayedCards" />
                <CardHistory game="@_game" selectedPlayer="@SelectedPlayer" modalClass="@_modalClassGameCards" modalDisplay="@_modalDisplayGameCards" OnCloseCallback="@CloseGamePlayedCards" />
                <Competition topScores="@_gameResults" modalClass="@_modalClassCompetition" modalDisplay="@_modalDisplayCompetition" gameId="@SelectedGame" OnCloseCallback="@CloseGameCompetition" />
            }
        }
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>

