@page "/boerenbridge/{_selectedGame}/{_selectedPlayer}"
@using Microsoft.AspNetCore.SignalR.Client
@using CardGames.Shared;
@using CardGames.Shared.Models;
@using System.Collections;
@using Microsoft.Extensions.Logging;
@using CardGames.Pages; 
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Options.IOptions<GameSettings> gameSettings
@inject IStringLocalizer<UIStrings> L;
@{
    var settings = gameSettings.Value;
}

<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 0 0 0 !important;
        margin: 0 auto;
        -webkit-box-shadow: 0px 10px 0px 10px #000;
        box-shadow: 0px 0px 0px 0px #000;
        border-radius: 5px;
    }

    legend.scheduler-border {
        font-size: 2.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0px 0px;
        border-bottom: none;
    }

    div.gallerySelectedPlayer {
        margin: 0px;
        border: 1px solid #ccc;
        float: left;
        width: 82px;
        border-radius: 5px;
        background-color: lightblue;
    }

    div.gallery {
        margin: 0px;
        border: 1px solid #ffffff;
        float: left;
        width: 82px;
        border-radius: 5px;
    }

    div.galleryStarted {
        margin: 0px;
        border: 1px solid #f00;
        float: left;
        width: 82px;
        border-radius: 5px;
    }

    div.galleryWon {
        margin: 0px;
        border: 1px solid red;
        float: left;
        width: 82px;
        border-radius: 5px;
        background-color: red;
    }

    div.gallery:hover {
        border: 1px solid #808080;
    }

    div.desc {
        text-align: center;
    }

    img.playingColor {
        text-align: center;
    }

    header,
    section,
    aside,
    footer {
        margin: 0 1.5% 24px 1.5%;
    }

    section {
        float: initial;
        width: 97%;
    }

    aside {
        float: right;
        width: 0%;
    }

    footer {
        clear: both;
        margin-bottom: 0;
    }

    .betting {
        display: block;
        text-align: center;
        border: 1px solid #808080;
    }
</style>


<AuthorizeView>
    <Authorized>
        @if (_game == null)
        {
            <p>@L["GameStartingUp", @_selectedGame]</p>
        }
        else
        {
            @if (!(_game.Players[GetPlayerId(_selectedPlayer)].Email == GetUserEmail().Result
           || GetUserEmail().Result == settings.SystemAdmin))
            {
                <p>@L["NotAuthorized"]</p>
                return;
            }
            <header>
                <h3>@L["Welcome", @context.User.Identity.Name.Split(" ")[0], _selectedPlayer] @(IsGameAdmin() ? "✏️" : "")</h3>
                <button class="btn btn-success" @onclick="() => OpenScoreBoard()">Score</button>
                <button class="btn btn-success" @onclick="() => OpenTrump()">@(GetColourChar(_game.PlayingCard.Colour.ToString()))</button>
                <button id="btnShuffle"
                        disabled="@((!_game.GameStarted || _game.Playing || _game.Shuffled || _game.GameOver) || (_game.PlayerToStartObj.Id != _selectedPlayer))"
                        class="btn btn-success"
                        @onclick="@(e => Shuffle())">
                    @L["Shuffle"]
                    @if (_game.CurrentRound < 8)
                    {
                        <b> ( @((_game.CurrentRound + 1).ToString()) )</b>
                    }
                    else
                    {
                        <b> ( @((16 - _game.CurrentRound).ToString()) )</b>
                    }
                </button>

                <br />
                🎰 @L["Betting"]:
                @for (int bet = 0; bet <= _game.Rounds[_game.CurrentRound].NrCards; bet++)
                {
                    //Define if player is last and what bet is not allowed
                    var lastBetter = _game.PlayerToStart - 1;
                    if (lastBetter < 0)
                        lastBetter = _game.NrPlayers - 1;

                    var notAllowed = false;

                    if (_game.CurrentPlayer == lastBetter)
                    {
                        var sum = 0;
                        for (int b = 0; b < _game.NrPlayers; b++)
                        {
                            if (_game.Rounds[_game.CurrentRound].Bets[b] > -1)
                            {
                                sum += _game.Rounds[_game.CurrentRound].Bets[b];
                            }
                        }
                        var betNotAllowed = _game.Rounds[_game.CurrentRound].NrCards - sum;
                        if (bet == betNotAllowed)
                        {
                            notAllowed = true;
                        }
                    }

                    var localBetVar = bet;
                    <button class="btn btn-outline-success" disabled="@(notAllowed || !_game.Shuffled || _game.Rounds[_game.CurrentRound].Bets[GetPlayerId(_selectedPlayer)] > -1 || (_game.CurrentPlayerObj.Id != _selectedPlayer))"
                            @onclick="@(e => PlaceBet(e, localBetVar.ToString()))">
                        @bet
                    </button>
                }

                @if (string.IsNullOrEmpty(_selectedPlayer))
                {
                    <select @bind="_selectedPlayer" disabled="@(_playerSelected)">
                        <option value="" selected>Select Player</option>
                        @foreach (var p in _playerSelections)
                        {
                            <option selected="@(p.Id == _selectedPlayer ? true : false)" value="@p.Id">@p.Name</option>
                        };
                    </select>
                    <button disabled="@(_playerSelected)" class="btn btn-success" @onclick="@GetAvailablePlayers">Refresh Players</button>
                    <button disabled="@(_playerSelected)" class="btn btn-success" @onclick="@SelectPlayer">Select Player</button>
                }

                @if (IsGameAdmin() && !_game.GameStarted)
                {
                    <button style="visibility:@(_game.GameStarted ? "hidden" : "visible")" disabled="@(!_game.AllPlayersSignedIn)" class="btn btn-success" @onclick="@StartGame">🃏</button>
                }
            </header>

            <section>
                <fieldset class="scheduler-border">
                    <legend>@L["PlayedCards"] </legend>
                    @foreach (var playedCard in _game.Rounds[_game.CurrentRound].PlayedCards)
                    {
                        <div class=@(playedCard.Winner ? "galleryWon" : (playedCard.PlayerId == _game.PlayerToStartObj.Id? "galleryStarted": playedCard.PlayerId == _selectedPlayer ? "gallerySelectedPlayer" : "gallery"))>
                            <div class="desc">
                                <p>
                                    @(_game.Players[GetPlayerId(playedCard.PlayerId)].FirstName)
                                    <br />
                                    🎰@(_game.Rounds[_game.CurrentRound].Bets[GetPlayerId(playedCard.PlayerId)] < 0 ? "?" : _game.Rounds[_game.CurrentRound].Bets[GetPlayerId(playedCard.PlayerId)].ToString())
                                    🏆@(_game.Rounds[_game.CurrentRound].Wins[GetPlayerId(playedCard.PlayerId)].ToString())
                                </p>

                                @if (playedCard.Card != null)
                                {

                                    <div id="PlayCard_@(playedCard.PlayerId)"><img src="/CardImages/@(playedCard.Card == null ? "green_back" : playedCard.Card.Face).png" width="80" /></div>
                                    @if (_game.ChooseWinner)
                                    {
                                        <button class="btn btn-outline-info" style="visibility:@(_game.ChooseWinner ? "visible" : "hidden")" disabled="@(!_game.ChooseWinner || !IsGameAdmin())" @onclick="@(e => Winner(e, playedCard))">@L["Won"]</button>

                                    }
                                }
                                else
                                {
                                    <img src="/CardImages/green_back.png" width="80" />
                                }
                            </div>
                        </div>

                    }
                </fieldset>

                <hr />

                <fieldset class="scheduler-border">
                    <legend>@L["Cards", _game.Players[GetPlayerId(_selectedPlayer)].FirstName] | @L["Colour"]: @(GetColourChar(_game.PlayingCard.Colour.ToString()))</legend>
                    <h5 class="active">@_game.Status</h5>

                    @foreach (var card in _cards)
                    {
                        //define what can be played
                        var canPlayCard = true;
                        if ((_game.PlayerToStartObj.Id != _selectedPlayer)
                            &&
                            (_game.Rounds[_game.CurrentRound]
                            .PlayedCards.Where(pc => pc.Card != null)
                            .Count() > 0))
                        {
                            var playedColour = _game.Rounds[_game.CurrentRound].PlayedCards
                                .Where(p => p.PlayerId == _game.PlayerToStartObj.Id)
                                .FirstOrDefault().Card.Colour;
                            var cardswithPlayingColour = _cards.Where(c => c.Colour == playedColour).Count();
                            canPlayCard = cardswithPlayingColour > 0 ? (card.Colour == playedColour ? true : false) : true;
                        }
                        <div class="gallery">
                            <div class="desc">
                                <div id="PlayerCard_@_cards.IndexOf(card).ToString()"><img src="/CardImages/@(card.Face).png" width="80" /></div>
                                <div>
                                    <button id="PlayButton_@_cards.IndexOf(card).ToString()"
                                            disabled="@(!canPlayCard || _game.ChooseWinner || _game.CleanTable || !_game.Betted || (_game.CurrentPlayerObj.Id != _selectedPlayer))"
                                            class="btn btn-success" @onclick="@(e => Play(e, _selectedPlayer, card, canPlayCard))">
                                        @L["Play"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </fieldset>
            </section>

            <button style="visibility:@(IsGameAdmin() ? "visible" : "hidden")"
                    disabled="@(!_game.CleanTable || !IsGameAdmin())"
                    class="btn btn-success" @onclick="@CleanTable">
                @L["CleanTable"]
            </button>
            <button style="visibility:@(IsGameAdmin() ? "visible" : "hidden")"
                    disabled="@(!_game.RoundReady || _game.GameOver || !IsGameAdmin())"
                    class="btn btn-success" @onclick="@NextRound">
                @L["NextRound"]
            </button>

            <div class="modal @_modalClass" role="dialog" style="display: @_modalDisplay; overflow: auto">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ScoreBoard</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => CloseScoreBoard()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        @foreach (var player in _game.Players)
                                        {
                                            <td><p style="color: @(IsGameAdmin(player.Id) ? "red" : "black")">@(player.Name == null ? player.Id : player.Name.Split(" ")[0])</p></td>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int round = 0; round < _game.Rounds.Length; round++)
                                    {
                                        <tr>
                                            <td>
                                                @if (round < 8)
                                                {
                                                    <b>@((round+1).ToString())</b>
                                                }
                                                else
                                                {
                                                    <b>@((16 - round).ToString())</b>
                                                }
                                            </td>
                                            @foreach (var player in _game.Players)
                                            {
                                                <td>@(_game.Rounds[round].Scores[GetPlayerId(player.Id)].ToString())</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal @_modalClassTrump" role="dialog" style="display: @_modalDisplayTrump; overflow: auto">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@L["Colour"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => CloseTrump()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align:center">
                            <img class="playingColor" src="/CardImages/@(_game.PlayingCard.Face.ToString() + ".png")" width="200" />
                        </div>
                    </div>
                </div>
            </div>


        }
    </Authorized>
    <NotAuthorized>
        <a href="AzureADB2C/Account/SignIn">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
@code {

    [Parameter]
    public string _selectedPlayer { get; set; }
    [Parameter]
    public string _selectedGame { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private HubConnection _hubConnection;
    private bool _playerSelected;
    private Game _game;
    private List<Card> _cards = new List<Card>();
    private List<PlayerSelection> _playerSelections = new List<PlayerSelection>();
    private bool _inprogress = false;

    private string _modalClass = "";
    private string _modalDisplay = "none;";

    private string _modalClassTrump = "";
    private string _modalDisplayTrump = "none;";

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/gameHub"))
        .WithAutomaticReconnect()
        .Build();

        _hubConnection.On<Game>("JoinedGame", (game) =>
        {
            _inprogress = false;
            _game = game;
            if (game != null)
            {
                if (!string.IsNullOrEmpty(_selectedPlayer))
                {
                    _cards = _game.Players[GetPlayerId(_selectedPlayer)].Cards;
                }
            }
            StateHasChanged();
        });

        _hubConnection.On<Game>("GameStarted", (game) =>
        {
            _inprogress = false;
            _game = game;

            StateHasChanged();
        });

        _hubConnection.On<Game>("GameResetted", (game) =>
        {
            _game = game;
            StateHasChanged();
        });

        _hubConnection.On<Game>("NewGameSet", (game) =>
        {
            _game = game;
            _cards = new List<Card>();
            StateHasChanged();
        });

        _hubConnection.On<Game, string>("PlayerSelected", (game, signedInPlayerID) =>
        {
            _inprogress = false;
            _game = game;
            var index = _playerSelections.FindIndex(p => p.Id == signedInPlayerID);
            if (index > 0)
                _playerSelections.RemoveAt(index);

            if (_selectedPlayer == signedInPlayerID)
            {
                _cards = _game.Players[GetPlayerId(signedInPlayerID)].Cards;
            }

            StateHasChanged();
        });

        _hubConnection.On<List<Card>, Game>("Shuffled", (cards, game) =>
        {
            _inprogress = false;
            _game = game;
            _cards = cards;
            _game.Playing = true;
            StateHasChanged();
        });

        _hubConnection.On<List<Card>, Game>("PlayedCard", (cards, game) =>
        {
            _inprogress = false;
            _game = game;
            _cards = cards;
            StateHasChanged();
        });

        _hubConnection.On<string[]>("ReturnAvailablePlayers", (rap) =>
        {
            _inprogress = false;
            _playerSelections = new List<PlayerSelection>();
            foreach (var p in rap)
            {
                _playerSelections.Add(new PlayerSelection { Id = p, Name = p });
            }
            StateHasChanged();
        });

        _hubConnection.On<Game>("WinnerRegistered", (game) =>
        {
            _inprogress = false;
            _game = game;
            StateHasChanged();
        });

        _hubConnection.On<Game>("StartNextRound", (game) =>
        {
            _inprogress = false;
            _game = game;
            StateHasChanged();
        });

        _hubConnection.On<Game>("CleanedTable", (game) =>
        {
            _inprogress = false;
            _game = game;
            StateHasChanged();
        });

        _hubConnection.On<Game>("BetPlaced", (game) =>
        {
            _inprogress = false;
            _game = game;
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            await JoinGame();
        }
    }


    public void OpenScoreBoard()
    {
        _modalDisplay = "block;";
        _modalClass = "Show";
        StateHasChanged();
    }

    public void CloseScoreBoard()
    {
        _modalDisplay = "none";
        _modalClass = "";
        StateHasChanged();
    }

    public void OpenTrump()
    {
        _modalDisplayTrump = "block;";
        _modalClassTrump = "Show";
        StateHasChanged();
    }

    public void CloseTrump()
    {
        _modalDisplayTrump = "none";
        _modalClassTrump = "";
        StateHasChanged();
    }

    private async Task PlaceBet(MouseEventArgs e, string bet)
    {
        if (!_inprogress)
        {
            await _hubConnection.SendAsync("PlaceBet", _selectedGame, _selectedPlayer, bet);
            _inprogress = true;
        }
    }

    private async Task JoinGame()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (!string.IsNullOrEmpty(_selectedGame))
            if (!_inprogress)
            {
                await _hubConnection.SendAsync("JoinGame", _selectedGame, _selectedPlayer, user.Identity.Name);
                _inprogress = true;
            }
    }


    private async Task CleanTable()
    {
        if (!_inprogress)
        {
            await _hubConnection.SendAsync("CleanTable", _game.Id);
            _inprogress = true;
        }
    }

    private async Task StartGame()
    {
        if (!String.IsNullOrEmpty(_selectedPlayer))
        {
            if (!_inprogress)
            {
                await _hubConnection.SendAsync("StartGame", _game.Id);
                _inprogress = true;
            }
        }
    }

    private void NextRound()
    {
        if (!_inprogress)
        {
            _hubConnection.SendAsync("NextRound", _game.Id);
            _inprogress = true;
        }
    }

    private void Shuffle()
    {
        if (!_inprogress)
        {
            _hubConnection.SendAsync("Shuffle", _game.Id);
            _inprogress = true;
        }
    }

    private void Play(MouseEventArgs e, string player, Card card, bool canPlayCard)
    {
        if (canPlayCard && !_game.ChooseWinner && !_game.CleanTable && _game.Betted && (_game.CurrentPlayerObj.Id == _selectedPlayer))
            if (!_inprogress)
            {
                _hubConnection.SendAsync("PlayCard", _game.Id, _selectedPlayer, card);
                _inprogress = true;
            }
    }

    private void Winner(MouseEventArgs e, PlayedCard winningCard)
    {
        if (!_inprogress)
        {
            _hubConnection.SendAsync("RoundWinner", _game.Id, winningCard);
            _inprogress = true;
        }

    }

    private async Task SelectPlayer()
    {
        if (!_inprogress)
        {
            _playerSelected = true;
            await _hubConnection.SendAsync("JoinGame", _game.Id, _selectedPlayer);
            _inprogress = true;
        }
    }

    private async Task GetAvailablePlayers()
    {
        if (!_inprogress)
        {
            await _hubConnection.SendAsync("GetAvailablePlayers", _game.Id);
            _inprogress = true;
        }
    }

    private int GetPlayerId(string player)
    {
        var pId = 0;
        pId = Convert.ToInt32(player.Substring(1, 1)) - 1;

        return pId;
    }

    private async Task<string> GetUserEmail()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var email = ((System.Security.Claims.ClaimsIdentity)user.Identity).Claims.FirstOrDefault(c => c.Type == "emails");
            if (email != null)
                return email.Value;
            else
                return null;
        }
        else
        {
            return null;
        }
    }

    private bool IsGameAdmin()
    {
        return IsGameAdmin(_selectedPlayer);
    }

    private bool IsGameAdmin(string player)
    {
        return _game.Players[GetPlayerId(player)].IsGameController;
    }

    private string GetColourChar(string colour)
    {
        switch (colour)
        {
            case "S":
                return "♠️";
            case "H":
                return "♥️";
            case "D":
                return "♦";
            case "C":
                return "♣️";
            default:
                return "";
        }
        return "";
    }

    public class PlayerSelection
    {
        public string Id;
        public string Name;
    }
}
